{% extends "base/contenido.html" %}

{% load static %}

{% block css %}
<!--Enlace para el Css de Login-->
<link rel="stylesheet" type="text/css" href="{% static "staticLogin/css/style.css" %}">
{% endblock css %}

{% block contenido %}
<div class="container">
    <div class="div_section_login">
        <div class="div_login">

            <form action="" method="POST" class="formulario">
                {% csrf_token %}
                {{ formulario }}
                <input type="submit" value="Enviar" class="btn_enviar">
                <a href="registro/" class="a_registrar">¿No tienes Cuenta? Registrate aquí</a>
            </form>

        </div>
    </div>
</div>
{% endblock contenido %}