*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


form{
    display: flex;
    width: 70%;
    justify-content: space-around;
    flex-direction: column;
}

input{
    width: 300px;
    height: 40px;
}

button{
    align-self: center;
    width: 300px;
    background-color: royalblue;
    color: white;
    border-color: transparent;
    height: 40px;
}

.section_6{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    background-image: linear-gradient(120deg, rgba(208, 245, 167, 0.383) 0%, rgba(161, 228, 116, 0.431) 100%), url(images/glen-carrie-HpMihL323k0-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.card{
    display: flex;
    width: 60%;
    height: 80%;
    background-image: linear-gradient(120deg, rgba(190, 190, 177, 0.383) 0%, rgba(211, 214, 202, 0.431) 100%);
    border-radius: 15px;
    justify-content: center;
}

p{
    display: flex;
    justify-content: space-between;
}

