{% extends "base/contenido.html "%}

{% load static%}

{% block css %}
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">-->
<link rel="stylesheet" href="{% static "staticTienda/css/style.css" %}">
{% endblock css %}

{% block contenido %}

<section class="section_5">
    
    {% if autos %}
    <div class="div_listarAutos">
        <div  class="div_buscar">
            <form action="" method="GET" class="form_buscar">
                <div id="search" class="div_search">
                    <input type="text" placeholder="Buscar Vehiculo..." name="buscar" class="input_buscar">
                    <span>
                        <button type="submit" class="btn_buscar">Buscar</button>
                    </span>
                </div>
            </form>
        </div>
        <table class="tabla_autos">
            <tbody class="tbody_autos">
                {% for auto in autos %}
                <tr id="{{ auto.id }}" class="trs">
                    <td>
                        <a href="{% url 'agregarCarro' id_auto=auto.id %}"><input type="submit" value="Agregar al Carro" class="btn_agregarcarro"></a>
                    </td>
                    <td>{{auto.nombre}}</td>
                    <td>{{auto.precio}}</td>
                    <td><img src="/media/{{auto.imagenAuto}} " alt=""></td>                   
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="div_widget">
        {% include "widget/carro_widget.html" %}
    </div>
    {% else %}
        <p>No hay Autos.....</p>
    {% endif %}
</section>
{% endblock contenido %}